.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  line-height: 1.1;
  text-align: left;
}

.hero-left h2 {
  color: #090909;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.hero-hand-icon {
  align-items: center;
  display: flex;
  gap: 12px;
  
}

.hero-hand-icon p {
  color: #171717;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
}

.hero-hand-icon img {
  width: 80px;
}

.hero-left p {
  color: #171717;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 320px;
  height: 70px;
  border-radius: 76px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-weight: 500;
  font-size: 22px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
button{
    border: none;
    background: #ff4141;
    font-size: 30px;
}

.hero-latest-btn:hover {
  transform: translateY(-1px);
}
