.loginsignup {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 60px;
}

.loginsignup-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1 {
    margin:5px 0px;
}

.loginsignup-container button {
    width:600px;
    height: 73px;
    outline: none;
    border: 2px solid #7a7a7a;
    border-radius: 75px;
    color: white;
    font-size: 24px;
    background: #ff4141;
    cursor: pointer;
    margin-top:30px;
    border: none;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input {
    width: 100%;
    height: 72px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: auto;
    color: #5c5c5c;
    font-style: 18px;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top:20px;
    gap:20px;
    font-size:20px;
    color: #5c5c5c;
    font-weight: 500;
}

.loginsignup-agree input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #ff4141;
}

.loginsignup-agree p {
  margin: 0;
  text-align: left;
}

@media(max-width:1280px){
    .loginsignup{
        margin-top: 50px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginsignup-container {
        margin: auto;
    }
}