.shopcategory-banner {
    display: flex;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.drop-icon{
  margin: 10px;
}
.shopcategory-sort {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1 px solid #888;
    width: 100px;
    height: 50px;
    background: #ededed;
    font-size: 18px;
    font-weight: 500;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 30px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory-expore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    margin: 150px auto;
}