.shopcategory-banner {
    display: flex;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.drop-icon {
    margin: 10px;
}

.shopcategory-sort {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1 px solid #888;
    width: 100px;
    height: 50px;
    background: #ededed;
    font-size: 18px;
    font-weight: 500;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 30px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory-expore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    margin: 150px auto;
}

@media(max-width:1280px) {
    .shopcategory-banner {
        margin: 20px auto;
        width: 90%;
    }

    .shopcategory-indexSort {
        width: 90%;
        margin: auto;
    }

    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }

    .shopcategory-indexSort p {
        font-size: 12px;
    }

    .shopcategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }

    .shopcategory-products item {
        margin: auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .shopcategory-banner{
        width: 95%;
    }
    .shopcategory-products{
        width: 95%;
    }
    .shopcategory-expore{
        height:40px ;
        width: 150px;
        margin: 60px auto;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .shopcategory-products{
     grid-template-columns: 1fr 1fr;
    }
}