.relatedproduct{
    display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 height: 90vh;   
}
.relatedproduct h1{
 color: #171717;
 font-size: 50px;
 font-weight: 600;
}
.relatedproduct hr{
    height: 6px;
    width: 200px;
    border-radius: 10px;
    background: #252525;
}
.relatedproduct-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}