.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer-logo img {
    width: 130px;
}

.footer-logo p {
    color: #383838;
    font-size: 47px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    display: flex;
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
}

.footer-copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-bottom: 36px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    height: 3px;
    background: #c7c7c7;
}