.cartitems {
    margin: 100px 170px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0px;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitem-reomve-icon {
    width: 30px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity {
    height: 50px;
    width: 64px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitems-down {
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 0;
    gap: 50px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px 0;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: #555;
}

.cartitems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background-color: #eaeaea;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    height: 50px;
    width: 330px;
}

.cartitems-promobox button {
    height: 58px;
    width: 170px;
    font-size: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}
